$lg-break-point: 1200px;
$break-point: 960px;
$md-break-point: 640px;
$sm-break-point: 320px;

$aside-width: 30%;
$content-wrapper-width: 67%;
$article-max-width: 800px;
$post-margin-left: 33%;

$img: "../img";
$js: "../js";
$font: "../font";
