#bg {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


* {
    font-family: 'Roboto', sans-serif;
}

html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
  }

.card_content{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;

}


.box {
    display: flex;
    align-items:center;
 }

.nomarg{
    margin: 2px 0 0 0;
}

.sensor{
    font-size:13px;
    font-weight:bold; 
}

#doorlastopen{
    font-size:13px;
}

.footer{
    margin-top: 20px;
    text-align: right;
    font-size:13px;
}
.white_link{
    color: black;
}
#statetxt, #location{
    text-align: center;
}

#stateimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
}

.card{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-width: 40%;
    max-width: 1000px;
    overflow: auto;
    background-color:rgb(255, 255, 255);
    flex-grow: 0;
}


.sensordesc{
    margin-left: 8px;
}
/* On mouse-over, add a deeper shadow */
.card:hover, .main_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}