#bg {
    background: linear-gradient(to bottom right, #303030, #303030);
    background-attachment: fixed;
}


.highlight {
    border-radius: 18px;
    background: #2E7D32;
    display: inline-block;
    font-size: 12px; 
    padding: 6px 15px 6px 15px;
    color: white;
    margin-top: 4px;
}

.card .highlight {
    border-radius: 18px;
    background: #1A237E;
    display: inline-block;
    font-size: 12px; 
    padding: 6px 15px 6px 15px;
    color: white;
    margin-top: 4px;
}

#back{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    margin: 10px 0;
    text-align: center;
    font-size: 22px;
    width: 100%;
    cursor: pointer;
    background: #2E7D32;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    color: white;
}

.fa-caret-square-left{
    margin: 0 50px;
}
* {
    font-family: 'Roboto', sans-serif;
}
.card_content{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.section{
    margin-top: 8px;
}
.page{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    flex-wrap: wrap;
    max-width: 950px;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
    justify-content: center;
}
.container {
    display: flex; /* or inline-flex */
    padding-bottom: 20px;
    max-width:625px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}
.main_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-width: 150px;
    flex-grow: 1;
    overflow: hidden;
    text-align: center;
    padding-bottom: 15px;
    background: #ffffff;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 0px 5px 10px 5px;
    min-width: 150px;
    max-width: 300px;
    overflow: auto;
    background: #ffffff;
    flex-grow: 1;
}

.title {
    color: rgba(0,0,0,0.9);
    font-size: 15px;
}

.contact{
    padding: 8px 8px 8px 15px;
    color: white;
    background-color: #2E7D32;
    font-size: 18px;
    overflow: auto;
}

.left{
    display: inline;
    text-align: left;
}

.right{
    float:right;
    margin-right: 10px;
}

.right .fas, .right .fab{
    color:white;
    text-decoration: none;
    font-size: 22px;
}

.title .fas, .title .fab{
    color:#2E7D32;
    font-size: 18px;
}

.title a {
    color: #1A237E;
    text-decoration: none;
}

p{
    margin-top: 8px;
    margin-bottom: 0;
}

button:hover, a:hover {
    opacity: 0.7;
}


/* On mouse-over, add a deeper shadow */
.card:hover, .main_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.h1, .h2, .h3, h1, h2, h3{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #1A237E;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}
